<div id="main-content" class="card">
  <header id="partner-header">
    <h1 id="fxa-partner-header">{{#t}}Sign in to Sync{{/t}}</h1>
  </header>

  <p>
    Choose the account you would like to sync your tabs, bookmarks, passwords & more.
  </p>

  <form id="permissions" novalidate>
    <div class="button-row">
      <button id="partner-button" type="submit">{{#t}}Partner 11{{/t}}</button>
    </div>
    <div class="button-row">
      <button id="fxa-button">{{#t}}Firefox Account{{/t}}</button>
    </div>
  </form>
</div>
